<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" android:sharedUserId="android.uid.system" coreApp="true" package="com.android.settings_ex" platformBuildVersionCode="23" platformBuildVersionName="6.0.1">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
    <original-package android:name="com.android.settings_ex"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.HARDWARE_TEST"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MASTER_CLEAR"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.android.certinstaller.INSTALL_AS_USER"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOVE_PACKAGE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="android.permission.SET_POINTER_SPEED"/>
    <uses-permission android:name="android.permission.SET_KEYBOARD_LAYOUT"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.COPY_PROTECTED_DATA"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS"/>
    <uses-permission android:name="com.sec.smartcard.pinservice.permission.SMARTCARD_PIN_ACCESS"/>
    <uses-permission android:name="com.sec.android.phone.permission.PHONE_SETTING_SEARCH"/>
    <uses-permission android:name="provider.settingsearch.permission.READ"/>
    <uses-permission android:name="provider.settingsearch.permission.WRITE"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.OEM_UNLOCK_STATE"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USER_ACTIVITY"/>
    <uses-permission android:name="android.permission.CHANGE_APP_IDLE_STATE"/>
    <uses-permission android:name="android.permission.PEERS_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="com.sec.android.app.calendar.permission.READ_CALENDAR_SETTINGS"/>
    <uses-permission android:name="sec.android.permission.READ_MSG_PREF"/>
    <uses-permission android:name="com.samsung.android.email.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="com.sec.permission.UPLUS_SETTINGS"/>
    <uses-permission android:name="com.samsung.tmowfc.wfcprovider.permission.READ_WFCPROVIDER"/>
    <uses-permission android:name="com.samsung.tmowfc.wfcprovider.permission.WRITE_REGISTER"/>
    <uses-permission android:name="com.samsung.android.app.assistantmenu.permission.ADVERTISE_ASSISTANTMENU"/>
    <uses-permission android:name="com.samsung.android.app.assistantmenu.permission.READ_WRITE"/>
    <uses-permission android:name="com.sec.android.inputmethod.permission.KEYBOARD_SETTING"/>
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY"/>
    <uses-permission android:name="com.samsung.android.softsim.permission.RECEIVE"/>
    <uses-permission android:name="com.samsung.android.scloud.backup.lib.read"/>
    <uses-permission android:name="com.samsung.android.scloud.backup.lib.write"/>
    <uses-permission android:name="com.samsung.android.permission.CHANGE_DISPLAY_COLOR"/>
    <uses-permission android:name="com.samsung.android.app.colorblind.permission.READ_WRITE"/>
    <uses-permission android:name="com.samsung.android.app.shareaccessibilitysettings.permission.READ_WRITE"/>
    <uses-permission android:name="com.wssnps.permission.COM_WSSNPS"/>
    <uses-permission android:name="com.sec.NetworkPowerSaving.permission.ACCESS"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <permission android:name="com.sec.permission.WIFI_BACKUP" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.sec.android.settings.permission.SOFT_RESET"/>
    <permission android:name="com.sec.android.settings.permission.SOFT_RESET" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.app.shareaccessibilitysettings.permission.READ_WRITE" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <permission android:name="com.sec.android.kies.vzwlocation.BROADCAST_DETECT" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.applock.permission.STATUSCHANGED" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.sec.testingsettings.permission.KEYSTRING" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.scloud.backup.lib.write" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.scloud.backup.lib.read" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.scloud.sync.permission.READ" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.scloud.sync.permission.WRITE" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.permission.FINGERPRINT_WEB_SIGNIN" android:protectionLevel="signature"/>
    <application android:allowBackup="false" android:hardwareAccelerated="@bool/hardwareAccelerated" android:icon="@mipmap/ic_launcher_settings" android:label="@string/settings_label" android:largeHeap="true" android:requiredForAllUsers="true" android:supportsRtl="true" android:taskAffinity="" android:theme="@style/Theme.Settings" android:usesCleartextTraffic="true">
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="settings_apk_name" android:value="SecSettings2"/>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <meta-data android:name="backup_name" android:resource="@xml/backup_item"/>
        <meta-data android:name="backup_content_uri" android:value="content://com.android.settings_ex.accessibility.sharedaccessibility.backup"/>
        <uses-library android:name="com.broadcom.bt"/>
        <uses-library android:name="touchwiz"/>
        <uses-library android:name="sechardware"/>
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <uses-library android:name="sec_platform_library"/>
        <uses-library android:name="TmoWfcUtils" android:required="false"/>
        <uses-library android:name="smatlib" android:required="false"/>
        <uses-library android:name="allshare" android:required="false"/>
        <uses-library android:name="sec_feature"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|showButtonBackground|uiMode" android:label="@string/settings_label" android:launchMode="singleTask" android:name="Settings" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|showButtonBackground|uiMode" android:name=".SubSettings" android:parentActivityName="Settings" android:taskAffinity="com.android.settings_ex"/>
        <activity android:name=".wifi.WifiPickerActivity" android:parentActivityName="Settings" android:taskAffinity="com.android.settings_ex">
            <intent-filter android:priority="1">
                <action android:name="android.net.wifi.PICK_WIFI_NETWORK"/>
                <action android:name="com.samsung.android.net.wifi.PICK_WIFI_NETWORK_RESULT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:label="@string/nearby_scanning_title" android:name="Settings$NearbyScanningPickerActivity" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="com.samsung.android.settings.NEARBY_DEVICE_SCANNING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:label="@string/wifi_settings_category" android:name=".wifi.WifiSecSetupActivity" android:parentActivityName="Settings" android:taskAffinity="com.android.settings_ex" android:theme="@style/WifiSetupWizardTheme" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.android.net.wifi.SECSETUP_WIFI_NETWORK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:icon="@drawable/empty_icon" android:label="@string/wifi_setup_wizard_title" android:name=".wifi.WifiSetupActivity" android:taskAffinity="com.android.wizard" android:theme="@style/SetupWizardDisableAppStartingTheme" android:windowSoftInputMode="adjustNothing">
            <intent-filter android:priority="1">
                <action android:name="com.android.net.wifi.SETUP_WIFI_NETWORK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <receiver android:name=".wifi.WifiBackupRestore" android:permission="com.wssnps.permission.COM_WSSNPS">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.REQUEST_BACKUP_WIFIWPACONF"/>
                <action android:name="com.sec.android.intent.action.REQUEST_RESTORE_WIFIWPACONF"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".wifi.mobileap.WifiApBackupRestore" android:permission="com.wssnps.permission.COM_WSSNPS">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.REQUEST_BACKUP_HOTSPOT_SETTING"/>
                <action android:name="com.samsung.android.intent.action.REQUEST_RESTORE_HOTSPOT_SETTING"/>
            </intent-filter>
        </receiver>
        <receiver android:name="XmlBackup" android:permission="com.wssnps.permission.COM_WSSNPS">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.REQUEST_BACKUP_HOTSPOT_SETTING"/>
                <action android:name="com.sec.android.intent.action.REQUEST_RESTORE_HOTSPOT_SETTING"/>
            </intent-filter>
        </receiver>
        <activity android:clearTaskOnLaunch="true" android:configChanges="locale|fontScale|keyboard|keyboardHidden|layoutDirection|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:name="Settings$CloudSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.CLOUD_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.cloud.CloudSettingsMainFragment"/>
        </activity>
        <receiver android:name=".wifi.WifiStatusReceiver" android:permission="com.sec.android.settings.permission.SOFT_RESET">
            <intent-filter>
                <action android:name="com.samsung.android.net.wifi.SEC_PICK_WIFI_NETWORK"/>
                <action android:name="com.samsung.android.net.wifi.AUTH_FAIL"/>
                <action android:name="com.samsung.intent.action.SETTINGS_SOFT_RESET"/>
                <action android:name="com.samsung.intent.action.SETTINGS_RESET_WIFI"/>
                <action android:name="com.samsung.android.net.wifi.WECHAT_LOGOUT"/>
            </intent-filter>
        </receiver>
        <activity android:enabled="@bool/enable_wifi_ssid_available_receiver" android:name=".wifi.connectionhandler.WifiConnectionHandlerActivity" android:permission="android.permission.GET_TASKS" android:theme="@style/Theme.Dialog.NoWindowDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:enabled="@bool/enable_wifi_ssid_available_receiver" android:name=".wifi.connectionhandler.WifiSelectHandlerActivity" android:theme="@style/Theme.Dialog"/>
        <receiver android:enabled="@bool/enable_wifi_ssid_available_receiver" android:name=".wifi.connectionhandler.WifiIntentReciever">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="com.samsung.android.settings.WLAN_SSID_AVAILABLE"/>
                <action android:name="com.samsung.android.intent.action.WLAN_CHECK_WPS_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnCloseSystemDialogs="true" android:hardwareAccelerated="@bool/hardwareAccelerated" android:launchMode="singleTop" android:name=".wifi.WifiWarningDialog" android:noHistory="true" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnCloseSystemDialogs="true" android:hardwareAccelerated="@bool/hardwareAccelerated" android:launchMode="singleTop" android:name=".wifi.CMCCChargeWarningDialog" android:noHistory="true" android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name=".wifi.WifiAuthFailWarningDialog" android:theme="@android:style/Theme.DeviceDefault.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:finishOnCloseSystemDialogs="true" android:hardwareAccelerated="@bool/hardwareAccelerated" android:name=".wifi.WifiPickerDialog" android:theme="@style/WifiSettings.Picker" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:finishOnCloseSystemDialogs="true" android:name=".wifi.WifiOffloadDialog" android:theme="@style/Theme.OffloadDialog" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.wifioffload.WIFI_OFFLOAD_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name=".wifi.SetupWizardWifiScreen" android:theme="@style/SettingsTheme.VzwSetupWizardWifi" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.wifi.SETUPWIZARD_WIFI_SCREEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name=".wifi.CaptivePortalWebViewActivity" android:theme="@style/SettingsTheme.VzwSetupWizardWifi" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.wifi.CAPTIVE_PORTAL_WEBVIEW_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|showButtonBackground" android:label="@string/wifi_advanced_settings_label" android:name="Settings$AdvancedWifiSettingsActivity" android:parentActivityName="Settings$WifiSettingsActivity" android:taskAffinity="com.android.settings_ex">
            <intent-filter android:priority="1">
                <action android:name="android.settings.WIFI_IP_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.wifi.AdvancedWifiSettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/wifi_settings"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|showButtonBackground" android:label="@string/wifi_saved_access_points_label" android:name="Settings$SavedAccessPointsSettingsActivity" android:parentActivityName="Settings$WifiSettingsActivity" android:taskAffinity="com.android.settings_ex">
            <intent-filter android:priority="1">
                <action android:name="android.settings.WIFI_IF_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.wifi.SavedAccessPointsSettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/wifi_settings"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <receiver android:enabled="true" android:exported="true" android:name=".KiesLocationReceiver" android:permission="com.sec.android.kies.vzwlocation.BROADCAST_DETECT">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.REQUEST_BACKUP_LOCATIONSERVICEVZW"/>
                <action android:name="com.sec.android.intent.action.REQUEST_RESTORE_LOCATIONSERVICEVZW"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="@bool/enable_wifi_share_profile" android:label="@string/wifi_share_profile" android:name="Settings$WifiShareProfileActivity" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.WIFI_SHARE_PROFILE"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.wifi.WifiShareProfile"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/wifi_settings"/>
            <meta-data android:name="com.android.settings_ex.PARENT_FRAGMENT_TITLE" android:resource="@string/wifi_settings"/>
            <meta-data android:name="com.android.settings_ex.PARENT_FRAGMENT_CLASS" android:value="com.android.settings_ex.Settings$WifiSettingsActivity"/>
        </activity>
        <activity android:name=".wifi.WifiInfo" android:parentActivityName="Settings$WifiSettingsActivity" android:taskAffinity="com.android.settings_ex" android:theme="@style/Theme.SubSettingsDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".wifi.WifiConfigInfo" android:parentActivityName="Settings$WifiSettingsActivity" android:taskAffinity="com.android.settings_ex" android:theme="@style/Theme.SubSettingsDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".wifi.WifiAPITest" android:theme="@style/Theme.SubSettingsDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".wifi.WifiStatusTest" android:theme="@style/Theme.SubSettingsDialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name=".wifi.WifiSnsPoorConnectionActivity" android:permission="android.permission.GET_TASKS" android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name=".wifi.WifiSnsExceptionActivity" android:permission="android.permission.GET_TASKS" android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name=".wifi.WifiMaliciousHotspotDetectionActivity" android:permission="android.permission.GET_TASKS" android:theme="@style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:exported="true" android:name=".wifi.WifiNoInternetDialog" android:permission="android.permission.CONNECTIVITY_INTERNAL" android:taskAffinity="" android:theme="@android:style/Theme.Material.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.net.conn.PROMPT_UNVALIDATED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:documentLaunchMode="never" android:enabled="@bool/enable_hotspot_launcher" android:excludeFromRecents="true" android:icon="@drawable/shortcut_hotspot" android:label="@string/wifi_tether_checkbox_text" android:launchMode="singleTop" android:name="Settings$WifiApSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.icon_container.use_icon_container" android:value="true"/>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.wifi.mobileap.WifiApSettings"/>
            <meta-data android:name="favoriteAppsWidget.LINK" android:value="Default"/>
            <meta-data android:name="com.samsung.android.multiuser.install_only_owner" android:value="true"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/header_connection_tethering_hotspot"/>
            <meta-data android:name="com.android.settings_ex.PARENT_FRAGMENT_TITLE" android:resource="@string/tether_settings_title_all"/>
            <meta-data android:name="com.android.settings_ex.PARENT_FRAGMENT_CLASS" android:value="com.android.settings_ex.Settings$TetherSettingsActivity"/>
        </activity>
        <activity-alias android:enabled="@bool/enable_wifiapsettings_activity" android:name=".wifi.mobileap.WifiApSettings" android:targetActivity="Settings$WifiApSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.WIFI_AP_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.wifi.mobileap.WifiApSettings"/>
            <meta-data android:name="com.android.settings_ex.TOP_LEVEL_HEADER_ID" android:resource="@id/header_connection_tethering_hotspot"/>
        </activity-alias>
        <receiver android:name="com.android.settings_ex.wifi.mobileap.WifiApBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED"/>
                <action android:name="com.samsung.settings.wifi.wifiap_power_mode_alarm"/>
                <action android:name="com.samsung.settings.wifi.PLUG_STATE_CHANGED"/>
                <action android:name="com.samsung.android.net.wifi.WIFI_AP_STA_STATUS_CHANGED"/>
                <action android:name="com.samsung.settings.wifi.mobileap.TURNOFF_HOTSPOT"/>
                <action android:name="com.samsung.android.net.wifi.WIFI_AP_DRIVER_STATE_HANGED"/>
                <action android:name="com.samsung.android.intent.action.WIFIAP_RESET"/>
                <category android:name="android.intent.category.HOME"/>
                <action android:name="reset_provider"/>
                <action android:name="enable_provider"/>
                <action android:name="disable_provider"/>
                <action android:name="com.samsung.intent.action.START_PROVISIONING"/>
            </intent-filter>
        </receiver>
        <activity android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:exported="true" android:name=".wifi.mobileap.WifiApWarning" android:taskAffinity="" android:theme="@android:style/Theme.Material.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|showButtonBackground" android:label="@string/apn_settings" android:launchMode="singleTask" android:name="Settings$ApnSettingsActivity" android:parentActivityName="Settings$WirelessSettingsActivity" android:process="com.android.phone" android:taskAffinity="com.android.settings_ex">
            <intent-filter android:priority="1">
                <action android:name="android.settings.APN_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE_LAUNCH"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.ApnSettings"/>
        </activity>
        <activity android:name="Settings$NfcSettingsActivity" android:parentActivityName="Settings" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.settings.NFC_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.nfc.NfcCommonSettings"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:name="Settings$NfcOsaifukeitaiSettingsActivity" android:parentActivityName="Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.nfc.NfcCommonSettings"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/android_beam_settings_title" android:name="Settings$AndroidBeamSettingsActivity" android:parentActivityName="Settings$WirelessSettingsActivity" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.settings.NFCSHARING_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.nfc.AndroidBeam"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:label="@string/nfc_settings_advanced_setting" android:name=".nfc.NfcAdvancedRoutingSetting" android:noHistory="false" android:parentActivityName="Settings$NfcSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.SEC_NFC_ADVANCED_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
        </activity>
        <service android:name=".nfc.PaymentSettingService" android:permission="android.permission.WRITE_SECURE_SETTINGS">
            <intent-filter>
                <action android:name="com.sec.settings.nfc.PaymentSettingService"/>
            </intent-filter>
        </service>
        <activity android:enabled="@bool/support_common_nfc_payment_setting" android:label="@string/nfc_payment_settings_title" android:name="Settings$PaymentSettingsActivity" android:taskAffinity="">
            <intent-filter android:priority="1">
                <action android:name="android.settings.NFC_PAYMENT_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.FRAGMENT_CLASS" android:value="com.android.settings_ex.nfc.PaymentBaseSettings"/>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
            <meta-data android:name="com.sec.android.PRIMARY_KNOX_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:enabled="@bool/support_common_nfc_payment_setting" android:excludeFromRecents="true" android:label="@string/nfc_payment_set_default_label" android:name=".nfc.PaymentDefaultDialog" android:theme="@android:style/Theme.Material.Light.Dialog.Alert">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.ACTION_CHANGE_DEFAULT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings_ex.PRIMARY_PROFILE_CONTROLLED" android:value="true"/>
            <meta-data android:name="com.sec.android.PRIMARY_KNOX_CONTROLLED" android:value="true"/>
        </activity>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation|screenSize|showButtonBackground" android:excludeFromRecents="true" android:exported="false" android:finishOnCloseSystemDialogs="true" android:hardwareAccelerated="@bool/hardwareAccelerated" android:label="@string/wfd_settings_title" android:name="com.android.settings_ex.wfd.WfdHelpActivity" android:theme="@style/Theme.Dialog" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.wfd.WRITE_NFC"/>
                <action android:name="com.samsung.wfd.DP_HELP"/>
                <action android:name="com.samsung.wfd.NFC_HELP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="fontScale" android:label="@string/display_label" android:name="Display" android:parentActivityName="Settings" android:taskAffinity="com.android.settings_ex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:label="@string/wifi_assistant_title" android:name=".ActiveNetworkScorerDialog" android:theme="@android:style/Theme.Material.Light.Dialog.Alert">
            <intent-filter android:priority="1">
                <action android:name="android.net.scoring.CHANGE_ACTIVE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/screen_mode_setting" android:name="com.android.settings_ex.NewModePreview" android:parentActivityName="DisplaySettings" android:theme="@style/Theme.ScreenModeSettings" android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.NewModePreview"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/screen_mode_setting" android:name="ModePreviewTablet" android:theme="@style/Theme.AlertDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.ModePreviewTablet"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="" android:name="com.android.settings_ex.FontPreview" android:theme="@style/Theme.ScreenModeSettings" android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.FontPreview"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="" android:name="com.android.settings_ex.FontPreviewTablet" android:theme="@style/Theme.AlertDialog" android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.FontPreviewTablet"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|showButtonBackground" android:label="" android:name="com.android.settings_ex.DisplayScalingActivity" android:theme="@style/Theme.ScreenModeSettings" android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.DisplayScalingActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize|showButtonBackground" android:label="" android:name="com.android.settings_ex.IconBackgrounds" android:theme="@style/Theme.ScreenModeSettings" android:uiOptions="none">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.IconBackgrounds"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
